<!--
/*  First name : KW
    Last name : Wong
    StudID: ### ##1 896
    Date: Oct. 5, 2022
*/
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=""UTF-8">
    <meta name=""viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title><%= title %></title>
    
    <!--CSS Section-->

    <%- include('partials/header'); %>
  </head>
  <body>

    <h1>Welcome to the <%= title %> page</h1>

    <!--Script Section -->

    <img src="Assets/images/man-6490251__340.png">
   <br>
    I am a web dev student. I write about myself on a html page. 
       <br>
    Please see my 
    <a href="Assets/resume.pdf">resume</a>

    <%- include('partials/footer'); %>
  </body>
</html>