<!--
/*  First name : KW
    Last name : Wong
    StudID: ### ##1 896
    Date: Oct. 5, 2022

    Make a big update, the pecfect description
*/
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=""UTF-8">
    <meta name=""viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title><%= title %></title>

    <%- include('partials/header'); %>

    <!--CSS Section-->


    
  </head>

  <body>


    <h1>Welcome to the <%= title %> page</h1>

    Mission Statement: To make a website
    <br><br>

    <button id="aButton" class="float-left submit-button" > about me</button>

    <script type="text/javascript">
      document.getElementById("aButton").onclick = function (){
        location.href = "/about"
        console.log("clicked!");
      }
    </script>


    <%- include('partials/footer'); %>

  </body>

</html>