<!--
/*  First name : KW
    Last name : Wong
    StudID: ### ##1 896
    Date: Oct. 5, 2022
*/
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=""UTF-8">
    <meta name=""viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title><%= title %></title>
    
    <!--CSS Section-->

    <%- include('partials/header'); %>
  </head>
  <body>
<!-- main nav-->

    <h1>Welcome to the <%= title %> page</h1>

    <!--Script Section -->




    <div style="border: 2px solid black; border-radius: 5px;">
    <header>Project 1 - Symbol Organizer</header>
      Rearrange symbols
      <br><br>
      insert a symbol image here
    </div>
    <br>
     <div style="border: 2px solid black; border-radius: 5px;">
    <header>Project 2 - Path joiner</header>
      Connect the paths
      <br><br>
      insert a paths image here
    </div>
    <br>
     <div style="border: 2px solid black; border-radius: 5px;">
    <header>Project 3 - Geometric Styler</header>
      Shape Picker
      <br><br>
      insert a shapes image here
    </div>


 <%- include('partials/footer'); %>

  </body>
</html>