<!--
/*  First name : KW
    Last name : Wong
    StudID: ### ##1 896
    Date: Oct. 5, 2022
*/
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=""UTF-8">
    <meta name=""viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title><%= title %></title>
    
    <!--CSS Section-->


    <%- include('partials/header'); %>
  </head>
  <body>
<!-- main nav-->

    <h1>Welcome to the <%= title %> page</h1>

    <!--Script Section -->

    I offer a list of services
 <%- include('partials/footer'); %>
  </body>
</html>